html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

body {
}
a{
  color: inherit;
  text-decoration: none;
}
.banner {
  width: 100%;
  display: block;
}

$blockWidth: 12rem;

.wrapper{
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(#e31f1f 0%,#f16cd1 100%);
}
.banner-container{
  position: relative;
  .tips{
    img{
      display: block;
      margin-bottom: 4px;
      &:nth-of-type(2){
        box-shadow: 5px 4px 5px 0px #944e4e;
      }
    }
    position: absolute;
    top: 0;
    left: 2rem;
    .timer{
      padding: 10px 0;
      text-align: center;
      background: #48d4f1;
      font-weight: 600;
      line-height: 30px;
      font-size: 18px;
      box-shadow: 5px 4px 5px 0px #944e4e;
    }
  }
}
.grid{
  display: flex;
  justify-content: space-between;
}
/*-------live----------*/
.clear {
  clear: both;
}
.item-container{

}
.live-item {
  display: block;
  width: 24%;
  text-align: center;
  margin-bottom: .2rem;
  .live-item-container{
    width: 100%;
    background: #fff;
  }
  .xins {
    position: absolute;
    width: 25px;
    bottom: 0;
    left: 200px;
    z-index: 999
  }

  .stylie {
    -webkit-animation-name: stylie-keyframes;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 0 0;
    animation-name: stylie-keyframes;
    animation-duration: 1500ms;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0
  }

  .stylie1 {
    -webkit-animation-name: stylie-keyframes1;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-delay: 500ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 0 0;
    animation-name: stylie-keyframes1;
    animation-duration: 1000ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0
  }

  .stylie2 {
    -webkit-animation-name: stylie-keyframes2;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 0 0;
    animation-name: stylie-keyframes2;
    animation-duration: 1500ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
  }

  @-webkit-keyframes stylie-keyframes {
    0% {
      -webkit-transform: translate(0, 0) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      -webkit-transform: translate(38px, -93px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: .5;
    }

    100% {
      -webkit-transform: translate(-7px, -120px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes stylie-keyframes {
    0% {
      transform: translate(0, 0) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      transform: translate(38px, -93px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: .5;
    }

    100% {
      transform: translate(-7px, -120px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @-webkit-keyframes stylie-keyframes1 {
    0% {
      -webkit-transform: translate(0, 0) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      -webkit-transform: translate(-7px, -93px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: .5;
    }

    100% {
      -webkit-transform: translate(38px, -120px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes stylie-keyframes1 {
    0% {
      transform: translate(0, 0) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      transform: translate(-7px, -93px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: .5;
    }

    100% {
      transform: translate(38px, -120px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @-webkit-keyframes stylie-keyframes2 {
    0% {
      -webkit-transform: translate(0, 0) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      -webkit-transform: translate(10px, -93px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: .5;
    }

    100% {
      -webkit-transform: translate(30px, -120px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes stylie-keyframes2 {
    0% {
      transform: translate(0, 0) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 1;
    }

    50% {
      transform: translate(10px, -93px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: .5;
    }

    100% {
      transform: translate(30px, -120px) scale(1) rotateX(0) rotateY(0) rotateZ(0) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes active {
    from {
      opacity: 1
    }

    to {
      opacity: 0
    }
  }
  .active:before {
    animation: active .6s infinite alternate;
    content: '';
    font: 0;
    overflow: hidden;
    width: 6px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    margin-right: 5px;
    border-radius: 4px;
    vertical-align: 3px;
  }
  .img {
    margin: 0 auto;
    height: 241px;
    overflow: hidden;
    position: relative;
    .bg{
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
      height: 100%;
    }
    .float {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      color: #ffffff;
      text-align: center;
      width: 100%;
    }
    .live-btn {
      margin: 0rem auto .1rem;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 30px;
      line-height: 32px;
    }
    .live-tip {
      line-height: 30px;
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    .view{
    }
    .living {
      background-image: linear-gradient(138deg, #f72386 0, #ff2853 100%);
      line-height: 32px;
      display: inline-block;
      border-radius: 30px;
      padding: 0 .15rem 0 .2rem;
      float: left;
    }
  }
  .live-info {

    padding: .2rem 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    .live-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    .sc-live-name {
      overflow: hidden;
      color: #7b7b7b;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  &:nth-of-type(4) {
    margin: 0;
  }
  :nth-of-type(8) {
    margin: 0;
  }

}
.thisTimer{
  position: absolute;
  top: .3rem;
  right: .5rem;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  line-height: 30px;
  font-size: 18px;
  .hour,.minute,.second{
    margin-top: 10px;
    width: 25px;
    background: rgba(0, 0, 0, 0.62);
    padding: 0 3px;
    border-radius: 4px;
    display: inline-block;
  }
}

/*----good--*/
.good-tpl {
  display: block;
  width: 24%;
  text-align: center;
  .goods{
    display: inline-block;
    width: 100%;
    background: #ffffff;
  }
  .img {
    .bg{
      background-color: #ececec;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
      height: 100%;
    }
    height: 3.3rem;
  }
  .goods-info {
    overflow: hidden;
    padding: .1rem 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    position: relative;
    .goods-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-align: left;
      height: 45px;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    .price {
      color: #7b7b7b;
      margin-top: 10px;
    }
    .source-price{
      float: left;
      text-decoration: line-through;
    }
    .zhekou{
      float: left;
      font-size: 14px;
      border: 1px solid #e31f1f;
      border-radius: 3px;
    }
    .qingcang{
      color: white;
      background: #e31f1f;
      display: inline-block;
      padding: 0 8px;
    }
    .discount{
      display: inline-block;
     color: #e31f1f;
      padding: 0 8px;
    }
    .store-name{
      float: right;
    }
    .goods-btn{
      box-sizing: border-box;
      margin-top: 10px;
    }
    .active-price{
      font-size: 12px;
      float: left;
      em{
        color: red;
        font-weight: bold;
        font-size: 20px;
      }
    }
    .buy{
      cursor: pointer;
      float: right;
      background: red;
      color: white;
      font-size: 12px;
      padding: 4px 5px 4px 10px;
    }
  }
  &:nth-of-type(1) {
    //text-align: left;
  }
  &:nth-of-type(4) {
    //text-align: right;
  }
}

.content {
  position: relative;
  margin-right: -1.4rem;
  .active-item {
    width: $blockWidth;
    @media screen and (max-width:1299px){
      width:15rem;
    }
    margin: 0 auto;
    .item-img {
      width: 100%;
      height: 1.64rem;
    }
  }
}

.title-9 {
  text-align: center;
  margin: .3rem 0;
  img {
    width: 6.96rem;
    height: 1.3rem;
  }
}

.goods-container {
  position: relative;
  width: $blockWidth;
  @media screen and (max-width:1299px){
    width:15rem;
  }
  margin: 20px auto;

  .item-img {
    width: 100%;
    display: block;
  }
}
.footer a{
  display: block;
}
.cross {
  width: 2.05rem;
  height: 2.05rem;
  margin: .5rem auto;
  display: block;
}
.nav-container{
  margin-top: 0.46rem;
  transform: translateX(120%);
}
.hover{
  transform: scale(1.2);
  transition: all 300ms;
}
.nav {
  position: sticky;
  top: .3rem;
  width: 1.43rem;
  z-index: 2;
  a{
    display: block;
    &:hover:not(#topic):not(#scan):not(#scrolltop):not(#liwu){
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}
#input{
  height: 1px;
  width: 1px;
  position: absolute;
  z-index: -999;
  opacity: 0;
  pointer-events: none;
}
.placeholder{
 width: 24%;
}